*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    background: darkcyan;
    height: 80px;
}

.logo{
    margin-left: 15px;
    color: aliceblue;
    font-weight: 900;
    font-size: 30px;
}

nav ul{
    list-style: none;
    display: flex;

}

nav ul li{
    padding: 4px 10px;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: .5s;

}

nav ul li a:hover{
    color: rgb(255, 172, 47);
    text-decoration: double underline;
    cursor: pointer;

}


.log-btn{
    background-color: #ff7f50;
    color: white;
    font-size: 15px;
    margin-right: 15px;
    padding: 8px 25px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;

    
}

.log-btn:hover{
     background-color: #ff7f50;
    color: white;
}